header {
    background: black;
    color:whitesmoke;
}

.main {
    background: aqua;
}

.color1 {
    background: orange;
    color: black;
}

aside {
    background: aquamarine;
    color: black;
}

